<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">
    <title>All assets</title>
</head>
<header><div th:replace="header :: myheader"></div></header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<main id="main" class="main">
<div th:if="${assets.isEmpty()}">
    <h2 th:text="#{assets.emptytitle}">No Assets</h2>
</div>
<main th:unless="${assets.isEmpty()}">
    <h2 th:text="#{assets.title}">Assets</h2>

<!--    <div class="table">-->
<!--        <div class="header">-->
<!--            <div class="cell" th:text="#{assets.header.name}">Name</div>-->
<!--            <div class="cell" th:text="#{userTransactions.header.abbreviation}">Abbreviation</div>-->
<!--            <div class="cell" th:text="#{userTransactions.header.assetType}">Asset Type</div>-->
<!--        </div>-->
<!--        <div class="row" th:each="asset : ${assets}">-->
<!--            <div class="cell" th:text="${asset.name}">Name</div>-->
<!--            <div class="cell" th:text="${asset.abbreviation}">Abbreviation</div>-->
<!--            <div class="cell" th:text="${asset.assetType}">Asset Type</div>-->
<!--        </div>-->
<!--    </div>-->

    <table class="table">
        <thead class="table-dark">
        <tr style="margin-top: 10px">
            <th scope="col">Asset name</th>
            <th scope="col">Abbreviation</th>
            <th scope="col">Asset type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="asset: ${assets}">
            <th th:text="${asset.name}"></th>
            <th th:text="${asset.abbreviation}"></th>
            <th style="text-transform: lowercase" th:text="${asset.assetType}"></th>
        </tr>
        </tbody>
    </table>
</main>
    <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/chart.js/chart.min.js}"></script>
    <script th:src="@{/vendor/echarts/echarts.min.js}"></script>
    <script th:src="@{/vendor/quill/quill.min.js}"></script>
    <script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/vendor/php-email-form/validate.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/js/main.js}"></script>
</body>
</html>