<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">    <title>Create Asset Transaction</title>
</head>
<header><div th:replace="header :: myheader"></div></header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<main id="main" class="main">
<form action="#" th:action="@{/assetTransactions/new}" th:object="${assetTransaction}" method="post">
    <label th:text="#{assetTransaction.header.shares}">Shares</label>
    <br/>
    <input type="text" th:field="*{shares}"/>
    <label class="error" th:errors="*{shares}" />
    <br/>
    <label th:text="#{assetTransaction.header.pricePerShare}">Price Per Share</label>
    <br/>
    <input type="text" th:field="*{pricePerShare}"/>
    <label class="error" th:errors="*{pricePerShare}" />
    <br/>
    <label th:text="#{assetTransaction.header.asset}">Asset</label>
    <select th:field="*{assetId}">
        <option th:each="asset : ${assets}"
                th:value="${asset.id}"
                th:text="${asset.getName()}">AssetOne</option>
    </select>
    <br/><br/>
    <input type="submit" value="Save"/>
</form>
    </main>
<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/vendor/quill/quill.min.js}"></script>
<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>