<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">
    <title>Asset Transactions</title>
</head>
<header><div th:replace="header :: myheader"></div></header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<main id="main" class="main">
<div th:if="${assetTransactions.isEmpty()}">
    <h2 th:text="#{assetTransactions.emptytitle}">No Asset Transactions</h2>
</div>
<div th:unless="${assetTransactions.isEmpty()}">
    <h2 th:text="#{assetTransactions.title}">AssetTransactions</h2>

<!--    <div class="table">-->
<!--        <div class="header">-->
<!--            <div class="cell" th:text="#{assetTransactions.header.transactionType}">TransactionType</div>-->
<!--            <div class="cell" th:text="#{assetTransactions.header.asset}">Asset</div>-->
<!--            <div class="cell" th:text="#{assetTransactions.header.shares}">Shares</div>-->
<!--            <div class="cell" th:text="#{assetTransactions.header.pricePerShare}">Price Per Share</div>-->
<!--        </div>-->
<!--        <div class="row" th:each="assetTransaction : ${assetTransactions}">-->
<!--            <div class="cell" th:text="${assetTransaction.transactionType}">TransactionType</div>-->
<!--            <div class="cell" th:text="${assetTransaction.asset.name}">Asset</div>-->
<!--            <div class="cell" th:text="${assetTransaction.shares}">Shares</div>-->
<!--            <div class="cell" th:text="${assetTransaction.pricePerShare}">Price Per Share</div>-->
<!--        </div>-->
<!--    </div>-->

    <table class="table">
        <thead class="table-dark">
        <tr style="margin-top: 10px">
            <th scope="col">Asset </th>
            <th scope="col">Price per share</th>
            <th scope="col">Shares</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assetTransaction: ${assetTransactions}">
            <th th:text="${assetTransaction.asset.name}"></th>
            <th th:text="${assetTransaction.pricePerShare}"></th>
            <th th:text="${assetTransaction.shares}"></th>
        </tr>
        </tbody>
    </table>
</main>
    <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/chart.js/chart.min.js}"></script>
    <script th:src="@{/vendor/echarts/echarts.min.js}"></script>
    <script th:src="@{/vendor/quill/quill.min.js}"></script>
    <script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/vendor/php-email-form/validate.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/js/main.js}"></script>
</body>
</html>