<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">
    <title>Currency Exchanges</title>
</head>
<header><div th:replace="header :: myheader"></div></header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<main id="main" class="main">
<div th:if="${currencyExchanges.isEmpty()}">
    <h2 th:text="#{currencyExchanges.emptytitle}">No Currency Exchanges</h2>
</div>
<main th:unless="${currencyExchanges.isEmpty()}">
    <h2 th:text="#{currencyExchanges.title}">Currency Exchanges</h2>

<!--    <div class="table">-->
<!--        <div class="header">-->
<!--            <div class="cell" th:text="#{currencyExchanges.header.transactionType}">TransactionType</div>-->
<!--            <div class="cell" th:text="#{currencyExchanges.header.currency}">Currency from</div>-->
<!--            <div class="cell" th:text="#{currencyExchanges.header.amount}">Amount from</div>-->
<!--            <div class="cell" th:text="#{currencyExchanges.header.currency}">Currency to</div>-->
<!--            <div class="cell" th:text="#{currencyExchanges.header.amount}">Amount to</div>-->
<!--        </div>-->
<!--        <div class="row" th:each="currencyExchange : ${currencyExchanges}">-->
<!--            <div class="cell" th:text="${currencyExchange.transactionType}">TransactionType</div>-->
<!--            <div class="cell" th:text="${currencyExchange.currencyFrom.name}">Currency from</div>-->
<!--            <div class="cell" th:text="${currencyExchange.amountFrom}">Amount from</div>-->
<!--            <div class="cell" th:text="${currencyExchange.currencyTo.name}">Currency to</div>-->
<!--            <div class="cell" th:text="${currencyExchange.amountTo}">Amount to</div>-->
<!--        </div>-->
<!--    </div>-->

    <table class="table">
        <thead class="table-dark">
        <tr style="margin-top: 10px">
            <th scope="col">Currency from</th>
            <th scope="col">Amount from</th>
            <th scope="col">Currency to</th>
            <th scope="col">Amount to</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="currencyExchange: ${currencyExchanges}">
            <th th:text="${currencyExchange.currencyFrom.name}"></th>
            <th th:text="${currencyExchange.amountFrom}"></th>
            <th th:text="${currencyExchange.currencyTo.name}"></th>
            <th th:text="${currencyExchange.amountTo}"></th>
        </tr>
        </tbody>
    </table>
</main>
    <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/chart.js/chart.min.js}"></script>
    <script th:src="@{/vendor/echarts/echarts.min.js}"></script>
    <script th:src="@{/vendor/quill/quill.min.js}"></script>
    <script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/vendor/php-email-form/validate.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/js/main.js}"></script>
</body>
</html>