<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">
    <title>Create Currency Exchange</title>
</head>
<header><div th:replace="header :: myheader"></div></header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<main id="main" class="main">
<form action="#" th:action="@{/currencyExchanges/new}" th:object="${currencyExchange}" method="post">
    <label th:text="#{currencyExchanges.header.currency}">Currency from</label>
    <select th:field="*{currencyFromId}">
        <option th:each="currencyFrom : ${currenciess}"
                th:value="${currencyFrom.id}"
                th:text="${currencyFrom.getName()}">CurrencyFromOne
        </option>
    </select>
    <br/><br/>
    <label th:text="#{currencyExchange.header.amount}">Amount From</label>
    <br/>
    <input type="text" th:field="*{amountFrom}"/>
    <label class="error" th:errors="*{amountFrom}"/>
    <br/>
    <br/><br/>
    <label th:text="#{currencyExchanges.header.currency}">Currency To</label>
    <select th:field="*{currencyToId}">
        <option th:each="currencyTo : ${currencies}"
                th:value="${currencyTo.id}"
                th:text="${currencyTo.getName()}">CurrencyToOne
        </option>
    </select>
        <br/><br/>
        <label th:text="#{currencyExchange.header.amount}">Amount To</label>
        <br/>
        <input type="text" th:field="*{amountTo}"/>
        <label class="error" th:errors="*{amountTo}"/>
        <br/>
    <br/><br/>
    <input type="submit" value="Save"/>
</form>
</main>
<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/vendor/quill/quill.min.js}"></script>
<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>