<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
  <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
  <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
  <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
  <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
  <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">

  <!-- Favicons -->
<!--  <link th:href="img/favicon.png" rel="icon">-->
<!--  <link th:href="img/apple-touch-icon.png" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
  <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
  <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
  <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
  <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
  <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">



  <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <form th:action="@{/authenticate}" method="post" class="login100-form validate-form">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img th:src="@{/img/logo.png}" alt="">
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your username & password to login</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Username</label>
                      <div class="input-group has-validation">
<!--                        <span class="input-group-text" id="inputGroupPrepend"></span>-->
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please enter your username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your password!</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{vendor/quill/quill.min.js}"></script>
  <script th:src="@{vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{js/main.js}"></script>
  <script th:src="@{js/login.js}"></script>
</body>

</html>