<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">
    <title>Title</title>
</head>
<header id="header" class="header fixed-top d-flex align-items-center">
    <div th:replace="header :: myheader"></div>
</header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<main id="main" class="main">
<form th:action="@{/users-profile/updateDetails}" th:object="${details}" method="post"
      enctype="multipart/form-data">
    <label th:text="#{users.header.userDetails.email}">Email</label>
    <br/>
    <input type="text" th:field="*{email}"/>
    <label class="error" th:errors="*{email}" />
    <br/><br/>
    <label th:text="#{users.header.firstName}">First name</label>
    <br/>
    <input type="text" th:field="*{firstName}"/>
    <label class="error" th:errors="*{firstName}" />
    <br/><br/>
    <label th:text="#{users.header.lastName}">Last name</label>
    <br/>
    <input type="text" th:field="*{lastName}"/>
    <label class="error" th:errors="*{lastName}" />
    <br/><br/>
    <label th:text="#{users.header.age}">Age</label>
    <br/>
    <input type="text" th:field="*{age}"/>
    <label class="error" th:errors="*{age}" />
    <br/><br/>
    <label th:text="#{users.header.gender}">Gender</label>
    <br/>
    <input type="text" th:field="*{gender}"/>
    <label class="error" th:errors="*{gender}" />
    <br/>
    <div class="input-group mb-3">
        <tr>
            <td>Upload image:</td>
            <td><input type="file" name="file"/></td>
        </tr>
    </div>
    </br>
    <div class="form-group ">
        <button type="submit" id="button" class="btn btn-secondary">Update</button>
    </div>
</form>
</main>
<!-- Vendor JS Files -->
<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/vendor/quill/quill.min.js}"></script>
<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>