<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
  <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
  <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
  <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
  <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
  <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
  <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">
  <title>All users</title>
</head>
<header id="header" class="header fixed-top d-flex align-items-center">
  <div th:replace="header :: myheader"></div>
</header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<!--<main id="main" class="main">-->
<div th:if="${users.isEmpty()}">
  <h2 th:text="#{users.emptytitle}">No Users</h2>
</div>
<main id="main" class="main" th:unless="${users.isEmpty()}">
  <h2 th:text="#{users.title}">Users</h2>

  <table class="table">
    <thead class="table-dark">
    <tr style="margin-top: 10px">
      <th scope="col">Username</th>
      <th scope="col">Email</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
      <th th:text="${user.username}"></th>
        <th th:text="${user.userDetails.Email}"></th>
        <th th:text="${user.userDetails.firstName}"></th>
        <th th:text="${user.userDetails.lastName}"></th>
        <th th:text="${user.userDetails.age}"></th>
        <th th:text="${user.userDetails.gender}"></th>
    </tr>
    </tbody>
  </table>
</main>
  <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/chart.js/chart.min.js}"></script>
  <script th:src="@{/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>
</body>
</html>