<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">

</head>
<header id="header" class="header fixed-top d-flex align-items-center">
    <div th:replace="header :: myheader"></div>
</header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<main id="main" class="main">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img th:src="${currentUser.userDetails.getPictureURL()}" class="rounded-circle mt-5" width="150px" height = "200px" >
<!--                    <img th:src="${currentUser.userDetails.pictureURL}" class="rounded-circle mt-5" width="150px" height = "200px" >-->
                    </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="fs-4">Username:</label>
                            <span class="fs-4" th:text = "${currentUser.username}"></span></div>
                        <br/>
                        <div class="col-md-6"><label class="fs-4">First Name:</label>
                            <span class="fs-4" th:text = "${currentUser.userDetails.firstName}"></span>
                        </div>
                        <div class="col-md-6"><label class="fs-4">Surname:</label>
                            <span class="fs-4" th:text = "${currentUser.userDetails.lastName}"></span>
                        </div>
                    </div>
                        <div class="col-md-12"><label class="fs-4">Age:</label>
                            <span class="fs-4" th:text = "${currentUser.userDetails.age}"></span></div>
                    <div class="col-md-6"><label class="fs-4">Email:</label>
                        <span class="fs-4" th:text = "${currentUser.userDetails.email}"></span>
                    </div>
                    <div class="col-md-6"><label  class="fs-4">Gender:</label>
                        <span class="fs-4" th:text = "${currentUser.userDetails.gender}"></span>
                    </div>

            </div>
        </div>
    </div>
    </div>
    <br/>
    <a href="/users-profile/updateDetails">
        <input type="submit" value="Update details"/>
    </a>
</main>
<!-- Vendor JS Files -->
<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/vendor/quill/quill.min.js}"></script>
<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>

</body>

</html>