<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">
    <title>Create New User</title>
</head>
<header><div th:replace="header :: myheader"></div></header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<main id="main" class="main">
<form action="#" th:action="@{/users/new}" th:object="${user}" method="post">
    <label th:text="#{users.header.name}">Username</label>
    <br/>
    <input type="text" th:field="*{username}"/>
    <label class="error" th:errors="*{username}" />
    <br/><br/>
    <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20 child"
         data-validate="Password cannot be empty.">
        <input class="input100" type="password" th:field="*{password}" name="password"
               placeholder="Password">
        <span class="focus-input100"></span>
    </div>
    <br/><br/>
    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20 child"
         data-validate="Password cannot be empty.">
        <input class="input100" type="password" th:field="*{passwordConfirmation}"
               name="passwordConfirmation"
               placeholder="Confirm password">
        <span class="focus-input100"></span>
    </div>
<!--    <label th:text="#{users.header.userDetails.email}">Email</label>-->
<!--    <br/>-->
<!--    <input type="text" th:field="*{email}"/>-->
<!--    <label class="error" th:errors="*{email}" />-->
<!--    <br/><br/>-->
<!--    <label th:text="#{users.header.firstName}">First name</label>-->
<!--    <br/>-->
<!--    <input type="text" th:field="*{firstName}"/>-->
<!--    <label class="error" th:errors="*{firstName}" />-->
<!--    <br/><br/>-->
<!--    <label th:text="#{users.header.lastName}">Last name</label>-->
<!--    <br/>-->
<!--    <input type="text" th:field="*{lastName}"/>-->
<!--    <label class="error" th:errors="*{lastName}" />-->
<!--    <br/><br/>-->
<!--    <label th:text="#{users.header.age}">Age</label>-->
<!--    <br/>-->
<!--    <input type="text" th:field="*{age}"/>-->
<!--    <label class="error" th:errors="*{age}" />-->
<!--    <br/><br/>-->
<!--    <label th:text="#{users.header.gender}">Gender</label>-->
<!--    <br/>-->
<!--    <input type="text" th:field="*{gender}"/>-->
<!--    <label class="error" th:errors="*{gender}" />-->
<!--    <br/><br/>-->
<!--    <label th:text="#{users.header.pictureURL}">pictureURL</label>-->
<!--    <br/>-->
<!--    <input type="text" th:field="*{pictureURL}"/>-->
<!--    <label class="error" th:errors="*{pictureURL}" />-->
    <br/><br/>
    <input type="submit" value="Save"/>
</form>
</main>
<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/vendor/quill/quill.min.js}"></script>
<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>