<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">
    <title>User Transactions</title>
</head>
<header><div th:replace="header :: myheader"></div></header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<main id="main" class="main">
<div th:if="${userTransactions.isEmpty()}">
    <h2 th:text="#{userTransactions.emptytitle}">No User Transactions</h2>
</div>
<main th:unless="${userTransactions.isEmpty()}">
    <h2 th:text="#{userTransactions.title}">UserTransactions</h2>

<!--    <div class="table">-->
<!--        <div class="header">-->
<!--            <div class="cell" th:text="#{userTransactions.header.transactionType}">TransactionType</div>-->
<!--            <div class="cell" th:text="#{userTransactions.header.user}">User</div>-->
<!--            <div class="cell" th:text="#{userTransactions.header.amount}">Amount</div>-->
<!--            <div class="cell" th:text="#{userTransactions.header.currency}">Currency</div>-->
<!--        </div>-->
<!--        <div class="row" th:each="userTransaction : ${userTransactions}">-->
<!--            <div class="cell" th:text="${userTransaction.transactionType}">TransactionType</div>-->
<!--            <div class="cell" th:text="${userTransaction.user.name}">User</div>-->
<!--            <div class="cell" th:text="${userTransaction.amount}">Amount</div>-->
<!--            <div class="cell" th:text="${userTransaction.currency.name}">Currency</div>-->
<!--        </div>-->
<!--    </div>-->

    <table class="table">
        <thead class="table-dark">
        <tr style="margin-top: 10px">
            <th scope="col">User</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userTransaction: ${userTransactions}">
            <th th:text="${userTransaction.user.username}"></th>
            <th th:text="${userTransaction.amount}"></th>
            <th th:text="${userTransaction.currency.name}"></th>
        </tr>
        </tbody>
    </table>
</main>
    <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/chart.js/chart.min.js}"></script>
    <script th:src="@{/vendor/echarts/echarts.min.js}"></script>
    <script th:src="@{/vendor/quill/quill.min.js}"></script>
    <script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
    <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/vendor/php-email-form/validate.js}"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/js/main.js}"></script>
</body>
</html>