<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/vendor/boxicons/css/boxicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.snow.css}">
    <link rel="stylesheet" th:href="@{/vendor/quill/quill.bubble.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/remixicon.css}">
    <link rel="stylesheet" th:href="@{/vendor/simple-datatables/style.css}">
    <title>Create New User Transaction</title>
</head>
<header><div th:replace="header :: myheader"></div></header>
<body>
<aside th:replace="sidebar :: mysidebar"></aside>
<main id="main" class="main">
<form action="#" th:action="@{/userTransactions/new}" th:object="${userTransaction}" method="post">
    <label th:text="#{userTransaction.header.amount}">Amount</label>
    <br/>
    <input type="text" th:field="*{amount}"/>
    <label class="error" th:errors="*{amount}" />
    <br/>
    <label th:text="#{userTransaction.header.user}">User</label>
    <select th:field="*{userId}">
        <option th:each="user : ${users}"
                th:value="${user.id}"
                th:text="${user.getUsername()}">UserOne</option>
    </select>
    <label th:text="#{userTransactions.header.currency}">Currency</label>
    <select th:field="*{currencyId}">
        <option th:each="currency : ${currencies}"
                th:value="${currency.id}"
                th:text="${currency.getName()}">CurrencyOne</option>
    </select>
    <br/><br/>
    <input type="submit" value="Save"/>
</form>
</main>
<script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/chart.js/chart.min.js}"></script>
<script th:src="@{/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/vendor/quill/quill.min.js}"></script>
<script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>